// palette used in edits:
// https://coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4
// https://www.canva.com/colors/color-palettes/summer-splash/

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
//$header-bg-color: #159957 !default;
$header-bg-color: #D4F1F4 !default;
//$header-bg-color-secondary: #155799 !default;
$header-bg-color-secondary: #05445E !default;

// Text
//$section-headings-color: #159957 !default;
$section-headings-color: #189AB4 !default;
$body-text-color: #606c71 !default;
//$body-link-color: #1e6bb8 !default;
$body-link-color: #189AB4 !default;
$blockquote-text-color: #819198 !default;


// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
